body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    /* background-image: url('./background.webp');
    background-size: cover; */
}

.game-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding:50px
  }
  
  .question-container {
    margin-bottom: 20px;
  }
  
  .question-container h2 {
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
    color: #222222;
  }
  
  .question-container p {
    margin-bottom: 10px;
    font-size: 18px;
    color: #222222;
  }
  
  .answer-input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .answer-input:focus {
    outline: none;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  
  .feedback-message {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .next-question-button {
    width: 25%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #0066cc;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .next-question-button:hover {
    background-color: #0052a3;
  }

  .button-container{
    padding-top: 50px;
    position:relative
  }

  .progress-meter {
    background-color: #ccc;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 5px;

  }
  
  .progress-bar {
    background-color: #007bff;
    height: 100%;
    width: 0;
    border-radius: 5px;
  }
  
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
  }
  
  