body{
  font-family:'Brush Script MT', cursive;
}


#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #ffffff;
    height: 100px;
    font-size: 60px;
    font-weight: bold;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);
  }